@import url('https://fonts.googleapis.com/css2?family=Grandiflora+One&family=Nunito:wght@300;400&display=swap');

.loginpage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Nunito', sans-serif;
    font-size: 0.8vw;
    height: 93vh;
    background-color: #f4f4f4;

}

.input_container {
    display: flex;
    flex-direction: column;
    height: 50vh;
    width: 30vw;
    background-color: white;
    padding: 30px;
    border-radius: 5px;
}

.brand {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.brandname {
    font-family: 'Grandiflora One', serif;
    font-weight: bold;
}

.brandlogo {
    box-sizing: border-box;
    margin: 0;
    height: 30px;
    width: 25px;
}

input {
    margin:0px 10px 10px 10px;
    border: 1.5px solid #d2d2d2;
    border-radius: 0.2vw;
    padding:5px;
}
.center_button{
    display: flex;
    align-items: center;
    justify-content: center;
}

.login_button {
    width: 100px;
    border-radius: 3px;
    border:none ;
    font-family: inherit;
    background-color: #a3e4f3;
    cursor: pointer;
    transition: none;
}

p {
    margin:0px 10px 0px 10px;
}
.more_options{
    display: flex;
    flex-direction: row;
    gap: 250px;
}
.no_account {
    margin:10px
}
input:hover{
    border-color: #2a2a2a;
}
