@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Grandiflora+One&family=Nunito:wght@300;400&display=swap");

.navbar_main {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 10% 85% 5%;
  border-bottom: 1px solid #cdcdcd;
  font-family: "Nunito", sans-serif;
  align-items: center;
  justify-items: center;
}
.logo {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
}
.weblogo {
  height: 23px;
  width: 21px;
  margin-left: 1em;
  margin-top: 4px;
}
.navbaroptions {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  list-style-type: none;
  font-size: 0.85vw;
  gap: 1vw;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: inherit;
}

.active {
  color: black;
}

.outercontainer {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  color: #6c6c6c;
}
.lastcontainer {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-items: center;
}
.brandname1 {
  font-family: "Grandiflora One", serif;
  margin-top: 0px;
  padding-left: 6px;
  font-weight: bold;
  font-size: 12px;
}

.loginbutton {
  height: 70%;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-items: center;
  font-size: 80%;
}

button {
  border-radius: 8px;
  border: none;
  padding: 0.6em 1.2em;
  font-size: 10px;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border: 1px solid purple;
}
.navbaroptions:hover {
  border-color: black;
}

@media (prefers-color-scheme: light) {
  a:hover {
    color: black;
  }
  button {
    background-color: #f9f9f9;
  }
}
